{% extends 'template.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'Authentication/css/template.css' %}"
{% endblock %}

{% block content %}
<h1>Inscription</h1>

{% for message in messages %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}

<form method="post" id="registerForm" enctype="multipart/form-data">
    {% csrf_token %}
    {{ registerForm.as_p }}
    <input type="submit" value="S'inscrire" class="submit cblack bold">
</form>
{% endblock %}