* {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
    color: #edf2f4;
}

body {
    background-color: #020617;
}

h1 {
    margin: 10px;
}

main {
    padding: 20px;
    margin: 20px;
}

a {
    margin: 15px;
}

nav {
    margin: 20px;
}

h1 {
    text-align: center;
    margin: 30px;
}

h2 {
    margin: 20px;
}

h3 {
    margin: 10px;
}

li {
    list-style: none;
}

#registerForm {
    color: #171717;
}

#loginForm {
    color: #171717;
}

.submit {
    padding: 5px;
    margin: 20px;
}

#usernameField {
    padding: 5px;
}

#passwordField {
    padding: 5px;
}

.bcblack {
    color: #020617;
}

.cblack {
    color: #020617;
}

.bold {
    font-weight: bold;
}